body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #2C2D41;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 1rem;
}


.logo img {
    width: 50px;
    height: 50px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.nav-item {
    font-family: Inter;
    font-size: 2rem;
    color: white;
}

header button {
    margin-left: auto;
    height: 2.5rem;
    width: 7rem;
    border-radius: 2rem;
    font-size: 1rem;
    background: #E0E1FF;
}

main {
    background-color: #F1F1FC;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.page1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    margin: 50px 50px 15px 50px;
    display: flex;
    gap: 20px;
}

.image-top {
    display: flex;
    gap: 20px;
}

.text {
    padding: 20px 30px;
}

.text h1 {
    font-family: Lato ,Inter;
    font-size: 2.5rem;
    font-weight: 900;
    
}

.text p {
    font-family: Lato ,Inter;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 15px;
}

main button {
    background-color: #3C3F8C;
    padding: 10px 70px;
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    font-family: Lato ,Inter;

}

main button:hover {
    background-color: #0e1157;
}

main button:active {
    background-color: #464992;
    color:gray;
}


.page2 {
    background-color: #3C3F8C;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 50px;
    gap: 50px;
}

.course {
    width: 40vw;
    height: 500px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.course img {
    width: 100%;
    height: auto;;
}

.course p {
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    text-overflow: clip;
    color: white;
}

footer {
    background-color: #2C2D41;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-size: 20px;
}

footer span {
    font-size: 25px;
    font-weight: 700;
}

